header {
    color: black;
    font-size: 250%;
    text-shadow: 3px 5px 6px gray;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}
body {
    background: url(9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    font-size: 20px;
}
blockquote {
    text-align: right;
}
table {
    border: 1px solid transparent;
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: auto;
    padding: 5px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blueviolet;
}
.top {
    text-align: center;
    position: ;
}
h4 {
    text-align: center;
    text-transform: uppercase;
}
.wrapper {
    position: relative;
}
.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}
.zoom {
    transition: 1s;
    display: block;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.5);
}
.sqltut {
    width: 95%;
    background: darkgrey;
    padding: 5px;
    border: solid 1px black;
    float: inherit;
    color: black;
}
mark {
    background-color: lightgray;
    color: black;
}
.transparent{
    border-collapse: collapse;
    border: 2px solid transparent;
}
footer {
    background-color: white;
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}
